<head>
	{{>header}}
</head>

<body>
	{{>alert}}
	<div class="container">
		<div class="row h-100">
			<div class="col-5 mx-auto align-self-center">
				<form id="auth-form">
					<h1 class="text-center display-4 font-weight-bold">Quiz Manager</h1>
					<div class="form-group">
						<label for="auth-username">Username</label>
						<input type="text" class="form-control" id="auth-username">
					</div>
					<div class="form-group">
						<label for="auth-password">Password</label>
						<input type="password" class="form-control" id="auth-password">
					</div>

					<div class="form-group d-flex">
						<button type="submit" class="btn btn-success" id="auth-login">Login</button>
						<button type="submit" class="btn btn-info ml-1" id="auth-register">Register</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{>footer}}
	<script src="/../../js/auth.js"></script>
</body>