<head>
	{{>header}}
	<link rel="stylesheet" href="/../../css/edit.css">
</head>

<body>
	{{>nav}}
	{{>alert}}
	{{>loader}}
	<div class="container">
		<div class="row align-items-center mt-2">		
			<div class="col-12 col-md-6 mb-3 mb-md-0">
				<h1 class="display-5 font-weight-bold mb-0 text-center text-md-left" data-id="{{ quiz }}" id="quiz-id">Editing {{ label }}</h1>
			</div>
			<div class="col-12 col-md-6">
				<div class="float-none float-md-right">
					<div class="row align-items-center">
						<div class="col-6">
							<small class="text-muted text-nowrap float-left float-md-none">answers marked with &check; are correct</small>
						</div>
						<div class="col-6">
							<div class="float-right">
								<button type="button" class="btn btn-info" data-toggle="modal" data-target="#create-modal">New Question</button>
							</div>

							<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Add a new question</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<form id="create-form" novalidate>
											<div class="modal-body">
												<div class="form-group">
													<label for="create-label">Question</label>
													<input type="text" class="form-control" id="create-label" pattern="^(?=.{3,255}$)(?![\s])(?!.*[\s]{2})[a-zA-Z0-9\s]+(?<![\s])$" required>
													<div class="valid-feedback">
														No issues!
													</div>
													<div class="invalid-feedback">
														Question must be between 3 and 255 characters long
													</div>
												</div>
												<div class="form-group">
													<div class="row align-items-center">
														<div class="col-6">
															<label class="mt-2">Answers List</label>
														</div>
														<div class="col-6">
															<button type="button" class="btn btn-success btn-sm float-right" onclick="addAnswerToList('create')">Add</button>
														</div>
													</div>
												</div>
												<div id="create-answers-list" class="answers-content scroll-bar"></div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-primary">Create</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-1">
			<div class="col-12 mt-3">
				<form id="quiz-form" novalidate>
					<label for="quiz-title">Title</label>
					<div class="input-group">
						<input type="text" class="form-control" id="quiz-title" pattern="^(?=.{3,100}$)(?![\s])(?!.*[\s]{2})[a-zA-Z0-9\s]+(?<![\s])$" value="{{ label }}" required>
						<div class="valid-feedback order-last">
							No issues!
						</div>
						<div class="invalid-feedback order-last">
							Title must be between 3 and 100 characters long
						</div>
						<div class="input-group-append">
							<button type="submit" class="btn btn-info" id="quiz-btn">Change</button>
						</div>
					</div>
				</form>
			</div>
		{{#items}}
			<div class="col-12 col-md-6 mt-3 mb-3">
				<div class="card">
					<div class="card-header">
						{{#index}}items{{/index}}. {{ label }}
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item h6 mb-0">Possible Answers</li>
					{{#answers}}
						<li class="list-group-item">
							{{ label }}
							{{#is_correct}}
								<span class="float-right">&check;</span>
							{{/is_correct}}
						</li>
					{{/answers}}
					</ul>
					<div class="card-footer align-items-center">
						<button type="button" class="btn btn-info" id="edit-btn-{{ id }}" onclick="editQuestion({{ id }})">Edit</button>

						<div class="float-right">
							<a href="#" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal-{{ id }}">Delete</a>

							<!-- Very lazy way to do this -->
							<div class="modal fade" id="delete-modal-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="delete-modal-{{ id }}" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h6 class="modal-title">Are you sure you want to delete this question?</h6>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>{{ label }}</p>
											<h5>
												<small>
													This action cannot be undone.
												</small>
											</h5>
										</div>
										<div class="modal-footer">
											<a href="/quiz/edit/{{ quiz }}/delete/{{ id }}" class="btn btn-danger">
												Delete
											</a>
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/items}}
		{{^items}}
			<div class="col-12 mt-3 mb-3">
				<h4 class="text-center">No questions to edit? add one to get started!</h4>
			</div>
		{{/items}}
		</div>
	</div>

	<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Question</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="edit-form" novalidate>
					<div class="modal-body">
						<div class="form-group">
							<label for="edit-label">Question</label>
							<input type="text" class="form-control" id="edit-label" pattern="^(?=.{3,255}$)(?![\s])(?!.*[\s]{2})[a-zA-Z0-9\s]+(?<![\s])$" required>
							<div class="valid-feedback">
								No issues!
							</div>
							<div class="invalid-feedback">
								Question must be between 3 and 255 characters long
							</div>
						</div>
						<div class="form-group">
							<div class="row align-items-center">
								<div class="col-6">
									<label class="mt-2">Answers List</label>
								</div>
								<div class="col-6">
									<button type="button" class="btn btn-success btn-sm float-right" onclick="addAnswerToList('edit')">Add</button>
								</div>
							</div>
						</div>
						<div id="edit-answers-list" class="answers-content scroll-bar"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{>footer}}
	<script src="/../../js/edit.js"></script>
</body>