<head>
	{{>header}}
	<link rel="stylesheet" href="/../../css/style.css">
</head>

<body>
	{{>nav}}
	{{>alert}}
	{{>loader}}
	<div class="container">
		<div class="row align-items-center mt-2">		
			<div class="col-6">
				<h1 class="display-5 font-weight-bold" data-id="{{ quiz }}" id="quiz-id">Editing {{ label }}</h1>
			</div>
			<div class="col-6">
				<div class="float-right">
					<div class="row align-items-center">
						<div class="col-6">
							<small class="text-muted text-nowrap">answers marked with &check; are correct</small>
						</div>
						<div class="col-6">
							<div class="float-right">
								<button type="button" class="btn btn-info" data-toggle="modal" data-target="#create-modal">New Question</button>
							</div>

							<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Add a new question</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<form id="create-form">
											<div class="modal-body">
												<div class="form-group">
													<label for="create-label">Question</label>
													<input type="text" class="form-control" id="create-label">
												</div>
												<div class="form-group">
													<div class="row align-items-center">
														<div class="col-6">
															<label class="mt-2">Answers List</label>
														</div>
														<div class="col-6">
															<button type="button" class="btn btn-success btn-sm float-right" onclick="addAnswerToList('create')">Add</button>
														</div>
													</div>
												</div>
												<div id="create-answers-list" class="answers-content scroll-bar"></div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
												<button type="submit" class="btn btn-primary">Create</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-1">
		{{#items}}
			<div class="col">
				<div class="card">
					<div class="card-header">
						{{#index}}items{{/index}}. {{ label }}
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item h6">Possible Answers</li>
					{{#answers}}
						<li class="list-group-item">
							{{ label }}
							{{#is_correct}}
								<span class="float-right">&check;</span>
							{{/is_correct}}
						</li>
					{{/answers}}
					</ul>
					<div class="card-footer align-items-center">
						<div class="row">
							<div class="col-sm-6">
								<button type="button" class="btn btn-info" id="edit-btn-{{ id }}" onclick="editQuestion({{ id }})">Edit</button>
							</div>
							<div class="col-sm-6">
								<div class="float-right">
									<button type="button" class="btn btn-danger">Delete</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{/items}}
		</div>
	</div>

	<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Question</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="edit-form">
					<div class="modal-body">
						<div class="form-group">
							<label for="edit-label">Question</label>
							<input type="text" class="form-control" id="edit-label">
						</div>
						<div class="form-group">
							<div class="row align-items-center">
								<div class="col-6">
									<label class="mt-2">Answers List</label>
								</div>
								<div class="col-6">
									<button type="button" class="btn btn-success btn-sm float-right" onclick="addAnswerToList('edit')">Add</button>
								</div>
							</div>
						</div>
						<div id="edit-answers-list" class="answers-content scroll-bar"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Create</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{{>footer}}
	<script src="/../../js/edit.js"></script>
</body>