<head>
	{{>header}}
</head>

<body>
	{{>nav}}
	{{>alert}}
	<div class="container">
		<div class="row align-items-center mt-2">
		{{#admin}}
			<div class="col-12 col-md-6">
				<h1 class="display-5 font-weight-bold text-center text-md-left">Available Quizzes</h1>
			</div>
			<div class="col-12 col-md-6">
				<div class="float-md-right">
					<button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#create-modal">New Quiz</button>
				</div>

				<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Create a quiz</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form id="create-form">
								<div class="modal-body">
									<div class="form-group">
										<label for="create-label">Title</label>
										<input type="text" class="form-control" id="create-label">
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-primary">Create</button>
								</div>
							</form>
						</div>
					</div>
				</div>				
			</div>
		{{/admin}}
		{{^admin}}
			<div class="col-12 text-center mb-0">
				<h1 class="display-5 font-weight-bold">Available Quizzes</h1>
			</div>
		{{/admin}}
		</div>
		<div class="row mt-1">
		{{#quizzes}}
			{{#admin}} <!-- Show quizzes with and without answers but don't allow quizzes without answers to be used only edited -->
				<div class="col-12 col-xl-6 mt-3 mb-3">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-6 text-truncate">
									{{ label }}
								</div>
								<div class="col-6">
									<div class="float-right">												
										{{ questions }} Question(s)
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="card-text">
								<div class="card-text">
									The <b>{{ label }}</b> quiz contains {{ questions }} question(s) and will take an estimated <span id="estimation-{{ id }}" data-count="{{ questions }}"></span> to complete.
								</div>
								{{#questions_answered}}
								<hr>
								<div class="card-text">
									You scored {{ score }} out of {{ questions }} in your last attempt which means you got <span id="percentage-{{ id }}" data-count="{{ questions }}" data-score="{{ score }}"></span> of questions right.
								</div>
								{{/questions_answered}}
							</div>
						</div>
						<div class="card-footer align-items-center">
							<div class="row">
								<div class="col-12 col-md-6 mb-1 mb-md-1">
									{{#questions}}
										<a href="/quiz/start/{{ id }}" class="btn btn-success">									
											{{#questions_answered}}
												Retry
											{{/questions_answered}}
											{{^questions_answered}}
												Start
											{{/questions_answered}}
										</a>
										{{#questions_answered}}
											<a href="/quiz/results/{{ id }}" class="btn btn-info">Results</a>
										{{/questions_answered}}
									{{/questions}}
									{{^questions}}
										<button type="button" class="btn btn-success" disabled>									
											{{#questions_answered}}
												Retry
											{{/questions_answered}}
											{{^questions_answered}}
												Start
											{{/questions_answered}}
										</button>										
									{{/questions}}
								</div>
								<div class="col-12 col-md-6 mt-1 mt-md-1">
									<div class="float-md-right">
										<a href="/quiz/edit/{{ id }}" class="btn btn-info">Edit</a>
										<a href="#" class="btn btn-danger float-right float-md-none" data-toggle="modal" data-target="#delete-modal-{{ id }}">Delete</a>

										<!-- Very lazy way to do this -->
										<div class="modal fade" id="delete-modal-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="delete-modal-{{ id }}" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h6 class="modal-title">Are you sure you want to delete the {{ label }} quiz?</h6>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<h5>
															<small>
																This action cannot be undone.
															</small>
														</h5>
													</div>
													<div class="modal-footer">
														<a href="/quiz/delete/{{ id }}" class="btn btn-danger">
															Delete
														</a>
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/admin}}
			{{^admin}}
				{{#questions}} <!-- Only show quizzes with answers to users -->
					<div class="col-12 col-xl-6 mt-3 mb-3">
						<div class="card">
							<div class="card-header">
								<div class="row align-items-center">
									<div class="col-6 text-truncate">
										{{ label }}
									</div>
									<div class="col-6">
										<div class="float-right">												
											{{ questions }} Question(s)
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="card-text">
									<div class="card-text">
										The <b>{{ label }}</b> quiz contains {{ questions }} question(s) and will take an estimated <span id="estimation-{{ id }}" data-count="{{ questions }}"></span> to complete.
									</div>
									{{#questions_answered}}
									<hr>
									<div class="card-text">
										You scored {{ score }} out of {{ questions }} in your last attempt which means you got <span id="percentage-{{ id }}" data-count="{{ questions }}" data-score="{{ score }}"></span> of questions right.
									</div>
									{{/questions_answered}}
								</div>
							</div>
							<div class="card-footer align-items-center">
								<a href="/quiz/start/{{ id }}" class="btn btn-success">
									{{#questions_answered}}
										Retry
									{{/questions_answered}}
									{{^questions_answered}}
										Start
									{{/questions_answered}}
								</a>
								<div class="float-right">
									{{#questions_answered}}
										<a href="/quiz/results/{{ id }}" class="btn btn-info">Results</a>
									{{/questions_answered}}
								</div>
							</div>
						</div>
					</div>
				{{/questions}}
			{{/admin}}
		{{/quizzes}}
		{{^quizzes}}
			<div class="col-12 mt-3 mb-3">
				<h4 class="text-center">No quzzies avaiable :(</h4>
				{{#admin}}
					<h5 class="text-center">Create one to get started!</h5>
				{{/admin}}
			</div>
		{{/quizzes}}
		</div>
	</div>

	{{>footer}}
	<script src="/../../js/home.js"></script>
</body>