<head>
	{{>header}}
	<link rel="stylesheet" href="/../../css/quiz.css">
</head>

<body>
	{{>nav}}
	{{>alert}}
	<div class="container">
		<div class="row align-items-center mt-2">		
			<div class="col-6">
				<h1 class="display-5 font-weight-bold" data-id="{{ quiz }}" data-count="{{ count }}" id="quiz-id">{{ label }}</h1>
			</div>
			<div class="col-6">
				<div class="float-right">
					<div class="row align-items-center">
						<div class="col-6">
							<small class="text-muted text-nowrap">make sure you answer all questions</small>
						</div>
						<div class="col-6">
							<div class="float-right">
								<button type="button" class="btn btn-info">Finish</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-1">
		{{#items}}
			<div class="col-6 mt-1 mb-1">
				<div class="card">
					<div class="card-header">
						{{#index}}items{{/index}}. {{ label }}
					</div>
					<div class="list-group list-group-flush">
						<label class="list-group-item mb-0">Select an answer</label>				
						{{#answers}}
							<input type="radio" name="quiz-question-{{ question_id }}" id="quiz-answer-{{ id }}"/>
							<label class="list-group-item mb-0" for="quiz-answer-{{ id }}">{{ label }}</label>
						{{/answers}}
					</div>
				</div>
			</div>
		{{/items}}
		</div>
	</div>
	{{>footer}}
	<script src="/../../js/quiz.js"></script>
</body>