<div class="modal fade" id="loaderModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="loaderModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="d-flex align-items-center">
					<strong>Loading...</strong>
					<div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
				</div>
			</div>
		</div>
	</div>
</div>