<div class="modal fade" id="loaderModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="loaderModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h6 class="modal-title" id="loaderModalTitle">Loading...</h6>
			</div>
			<div class="modal-body text-center">
				<div class="spinner-border" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>
	</div>
</div>