<div class="modal fade" id="loaderModal" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
		<div class="row align-items-center">
			<div class="col-6">
				<strong class="text-light" id="loaderText">Loading...</strong>
			</div>
			<div class="col-6">
				<div class="spinner-border ml-auto text-light" role="status" aria-hidden="true"></div>
			</div>
		</div>
	</div>
</div>